/*--------------------------navbar------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Bebas+Neue&family=Josefin+Sans&family=Kanit:wght@300;400&family=Lobster&family=Roboto&family=Ysabeau+SC:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 110px;
    position: fixed !important;
    display: flex;
    padding: 7px 100px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: #008ec6;
    
}
.navbar input#menu-toggler {
    display: none;
    
}
.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
    margin-right: 100px;
}
.navbar .all-links {
    font-family: 'Ysabeau SC', sans-serif;
    display: flex;
    margin-right: 30px;
}
.navbar .all-links li {
    position: relative;
    list-style: none;
    padding: 1px;
}
.navbar .all-links li:hover {
    position: relative;
    list-style: none;
}
.navbar .all-links li .active {
    color: rgb(255, 224, 50);

}

.logo  {
    display: flex;
    width: 120px;
    height: 115px;
    flex-shrink: 0;
    margin-left: 100px;
}

header a, footer a {
    margin: 5px 25px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
    
}


@media screen and (max-width: 860px) {
    .navbar .all-links {
    position: fixed;
    left: -150%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 110px;
    width: 100%;
    text-align: center;
    transition: left 0.5s ease;
    
}
.navbar #menu-toggler:checked~.all-links {
    left: 0;
}
.navbar{
    
}
.navbar .all-links li {
    font-size: 18px;
    background-color: fill: #0AA1DD;;
    width: 90%;
    background-color: #008ec6;
}
.navbar #hamburger-btn {
    display: block;
}
.pr1{
    width: 100%;
    height: 630px !important;
    flex-shrink: 0;
    background: #42C2FF;
}
.pr1_title{
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    padding-left: 100px;
    width: 200px !important;
    height: 271px !;
    flex-shrink: 0;
    font-size: 45px !important;
    color: #42C2FF;
    -webkit-text-stroke: 0.2vw #ffffff;
}
}


/*--------------------------color pr1------------------------------*/
.bg{
    background-color: #42C2FF !important;
}
.one{
    background-color: #42C2FF !important;
    border-top: #fff 5px solid ;
}


/*--------------------------img 1 txt 1------------------------------*/

.image1{
    height: 450px;
    width: 640px;
}
.spotlight{
    display: flex;
    background-color: #42C2FF;
    border-top: #fff 5px solid ;
}
.content1{
    margin-right: 40px;
    margin-left: 95px;
    margin-top: 80px;
    font-size: 20px;
    color: #fff;
}
/*--------------------------img 2 txt 2------------------------------*/
.image2{
    height: 450px;
    width: 640px ;
}
.content2{
    margin-left: 70px;
    margin-right: 90px;
    margin-top: 40px;
    font-size: 20px;
    color: #fff;
}



@media screen and (max-width: 1230px)  {
    #bab1{
        padding-bottom: 20px;
    }
    #bab2{
        padding-top: 40px;
    }
    #pap1{
        padding-top: 40px;
    }
    .content1{
        margin-left: 95px;
        font-size: 16px;
    }
    .content2{
        margin-top: 40px;
        margin-left: 95px;
        font-size: 15px;
    }
    
}
@media screen and (max-width: 1100px)  {
    .content1{
        margin-left: 95px;
        font-size: 11px;
    }
    .content2{
        margin-top: 40px;
        margin-left: 95px;
        font-size: 11px;
    }
    .image1{
        height: 250px;
        width: 440px ;
    }
    .image2{
        height: 250px;
        width: 440px ;
    }
}
@media screen and (max-width: 910px)  {
    #one{
        flex-direction: column;
        align-items: center !important;
    }
    #two{
        flex-direction: column-reverse;
        align-items: center !important;
    }
    .content1{
        margin-right: 50px;
   
    }
    .content2{
        margin-top: 40px;
        margin-right: 50px;

    }
}





/*--------------------------activite------------------------------*/

.imgA{
    height: 70px;
    width: 70px;
}
.activite {
    background-color: #42C2FF;
    border-top: #fff 5px solid ;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0;
  }
  
  
  section h2 {
    font-size: 1.5rem;
  }
  
  section > p {
    text-align: center;
  }
  
  section .ACs {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin-top: 50px;
    padding: 0 10px;
    justify-content: space-between;
  }
  section .ACs .AC {
    background: #fff;
    padding: 40px 15px;
    list-style: none;
    border-radius: 15px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.04);
    margin-bottom: 40px;
    width: calc(100% / 3 - 30px);
    text-align: center;
  }
  
  
  @media screen and (max-width: 860px) {
    section > p {
      text-align: center;
    }
  
    section .ACs .AC {
    width: calc(100% / 2 - 15px);
    margin-bottom: 30px;
    }
  }
  @media screen and (max-width: 560px) {
    section .ACs .AC {
      width: 100%;
      margin-bottom: 30px;
    }
  }







/*--------------------------footer------------------------------*/
footer{
    background-color: #008ec6;
    height: 500px;
    border-top: #fff 5px solid;
}
.lo-co{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
.logofooter>img{
    height: 120px;
    width: 130px;
}
.cofooter{
    color: #fff;
}

.ictxt{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin-left: 20px;

}


.iconsfooter>ul{
    margin-top: 15px;
    display: flex;
}

.iconsfooter>ul>li{
    
    list-style-type: none;
    display: flex;
}
.iconsfooter>ul>li>img{
    margin-right: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
}




.colink{
    display: flex;
    justify-content: space-around;
    font-size: 21px;
    margin-top: 20px;
}
.linkleft>ul>li{
    cursor: pointer;
}
.linkright{
    cursor: pointer;
}