/*--------------------------navbar------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&family=Bebas+Neue&family=Josefin+Sans&family=Kanit:wght@300;400&family=Lobster&family=Roboto&family=Ysabeau+SC:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    height: 110px;
    display: flex;
    padding: 7px 100px;
    width: 100%;
    position: fixed !important;
    align-items: center;
    justify-content: space-between;
    background-color: #008ec6;
    
}
.navbar input#menu-toggler {
    display: none;
    
}
.navbar #hamburger-btn {
    cursor: pointer;
    display: none;
    margin-right: 100px;
}
.navbar .all-links {
    font-family: 'Ysabeau SC', sans-serif;
    display: flex;
    margin-right: 30px;
}
.navbar .all-links li {
    position: relative;
    list-style: none;
    padding: 1px;
}
.navbar .all-links li .active {
    color: rgb(255, 224, 50);
}
.navbar .all-links li:hover {
    position: relative;
    list-style: none;
}
.logo  {
    display: flex;
    width: 120px;
    height: 115px;
    flex-shrink: 0;
    margin-left: 100px;
}

header a, footer a {
    margin: 5px 25px;
    text-decoration: none;
    color: #fff;
    height: 100%;
    padding: 20px 0;
    display: inline-block;
    
}

@media screen and (max-width: 860px) {
    .navbar .all-links {
    position: fixed;
    left: -150%;
    width: 300px;
    display: block;
    height: 100vh;
    top: 110px;
    width: 100%;
    text-align: center;
    transition: left 0.5s ease;
    
}
.navbar #menu-toggler:checked~.all-links {
    left: 0;
}
.navbar{
    
}
.navbar .all-links li {
    font-size: 18px;
    background-color: fill: #0AA1DD;;
    width: 90%;
    background-color: #008ec6;
}
.navbar #hamburger-btn {
    display: block;
}
.pr1{
    width: 100%;
    height: 630px !important;
    flex-shrink: 0;
    background: #42C2FF;
}
.pr1_title{
    font-family: 'Aref Ruqaa', serif;
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Kanit', sans-serif;
    font-family: 'Roboto', sans-serif;
    padding-top: 100px;
    padding-left: 100px;
    width: 200px !important;
    height: 271px !;
    flex-shrink: 0;
    font-size: 45px !important;
    color: #42C2FF;
    -webkit-text-stroke: 0.2vw #ffffff;
}
}
/*--------------------------contact------------------------------*/
body{margin-top:50px;
    }
#contact{
    padding-top: 120px;
    background-color: #42C2FF;
    padding-bottom: 100px;

}
    .contact-area {
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    
    @media only screen and (max-width:768px) {
        .contact {
            margin-bottom: 60px;
        }
    }
    
    .contact input {
        background: #f3f3f3;
        border: 2px solid #cbcbcb;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #232434;
        font-size: 17px;
        height: 60px;
        padding: 10px;
        margin: 2px;
        width: 100%;
        font-family: 'poppins', sans-serif;
        padding-left: 30px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .contact textarea {
        background: #f3f3f3;
        border: 2px solid #cbcbcb;
        border-radius: 5px;
        -webkit-box-shadow: none;
        box-shadow: none;
        color: #232434;
        font-size: 16px;
        padding: 10px;
        margin: 2px;
        width: 100%;
        font-family: 'poppins', sans-serif;
        padding-left: 30px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .contact input:focus {
        background: #fff;
        border: 1px solid #fff;
        color: #42C2FF;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 none;
    }
    
    .contact textarea:focus {
        background: #fff;
        border: 1px solid #fff;
        color: #42C2FF;
        -webkit-box-shadow: none;
        box-shadow: none;
        outline: 0 none;
    }
    
    .form-control::placeholder {
        color: #232434;
        opacity: 1;
    }
    
    .btn-contact-bg {
        border-radius: 30px;
        color: #fff !important;
        margin-top: 3px;
        outline: medium none !important;
        padding: 15px 27px;
        text-transform: capitalize;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        background-color: #0b40ee !important;
        font-family: 'poppins', sans-serif;
        cursor: pointer;
        width: 100%;
    }
    
    .btn-contact-bg:hover{
        background-color: #00bd09 !important;
        color: #fff !important;
    }
    
    /*START ADDRESS*/
    
    .single_address {
        overflow: hidden;
        margin-bottom: 10px;
        padding-left: 40px;
    }
    
    @media only screen and (max-width:768px) {
        .single_address {
            padding-left: 0px;
        }
    }
    
    .single_address i {
        background: #f6f6f6;
        color: #42C2FF;
        border-radius: 30px;
        width: 60px;
        height: 60px;
        line-height: 60px;
        text-align: center;
        float: left;
        margin-right: 14px;
        font-size: 22px;
        -webkit-box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        -webkit-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    
    .single_address:hover i {
        background: #008ec6;
        color: #fff;
    }
    
    .single_address h4 {
        font-size: 18px;
        margin-bottom: 0px;
        overflow: hidden;
        font-weight: 600;
    }
    
    .single_address p {
        overflow: hidden;
        margin-top: 5px;
    }
    
    .section-title h1 {
        color: #f3f3f3;
        font-size: 44px;
        font-weight: 500;
        margin-top: 0;
        position: relative;
        text-transform: capitalize;
        margin-bottom: 15px;
    }
    .section-title p {
        padding: 0 10px;
        width: 70%;
        margin: auto;
        letter-spacing: 1px;
    }
    .section-title {
        margin-bottom: 60px;
    }
    .text-center {
        text-align: center!important;
    }
/*--------------------------footer------------------------------*/
footer{
    background-color: #008ec6;
    height: 500px;
    border-top: #fff 5px solid;
}
.lo-co{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center ;
}
.logofooter>img{
    height: 120px;
    width: 130px;
}
.cofooter{
    color: #fff;
}

.ictxt{
    display: flex;
    justify-content: space-around;
    align-items:center ;
    margin-left: 20px;

}


.iconsfooter>ul{
    margin-top: 15px;
    display: flex;
}

.iconsfooter>ul>li{
    
    list-style-type: none;
    display: flex;
}
.iconsfooter>ul>li>img{
    margin-right: 5px;
    height: 40px;
    width: 40px;
    display: flex;
    cursor: pointer;
}




.colink{
    display: flex;
    justify-content: space-around;
    font-size: 21px;
    margin-top: 20px;
}
.linkleft>ul>li{
    cursor: pointer;
}
.linkright{
    cursor: pointer;
}